.main-container {
  max-width: 1100px;
  margin: 0 auto;
}

.app-grid {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  width: 0px;
  width: 100%;
  align-items: baseline;
  margin-bottom: 30px;
  justify-content: flex-start;
}

.app-header {
  width: 30%;
  font-family: RubikMed;

  font-size: 40px;
}
